.dashboard {
  text-align: center;
  margin: 0;
  color: #333;
  background-color: #6957577b;
  padding: 0;
  border-radius: 0;
}

mat-toolbar {
  background-color: #424242; /* Grigio scuro */
  color: #fff;
}

.full-width {
  width: 100%;
}

.image-section {
  width: 100%;
  background-color: #757575; /* Grigio medio */
  padding: 20px 0;
}

.welcome-image {
  width: 100%;
  height: auto;
  max-height: 400px; /* Imposta un'altezza massima per l'immagine */
  object-fit: cover; /* Assicura che l'immagine riempia il contenitore senza distorsioni */
}

.presentation-section {
  width: 100%;
  max-width: 1200px; /* Imposta una larghezza massima per la sezione di presentazione */
  margin: 20px auto;
  text-align: left;
  background-color: #e0e0e0; /* Grigio chiaro */
  padding: 20px;
  border-radius: 8px;
  color: #333;
}

.presentation-section h2 {
  margin-top: 0;
  color: #424242; /* Grigio scuro */
}

.presentation-section p, .presentation-section ul {
  margin-bottom: 16px;
}

.presentation-section ul {
  padding-left: 20px;
}

.actions-section {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.actions-section button {
  margin: 10px;
  background-color: #424242; /* Grigio scuro */
  color: #fff;
  font-size: 1.2em;
  padding: 12px 24px;
}

.actions-section button:hover {
  background-color: #616161; /* Grigio medio-scuro */
}
