/* footer.component.css */

.footer {
  background-color: #6957577b;
  color:  #000000;
  padding: 20px 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color:  #000000;
}

.social-icons {
  display: flex;
}

.social-icons a {
  color:  #000000;
  margin-right: 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #000000;
}