/* header.component.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#6957577b;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.brand-text {
  color:  #000000;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color:  #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.nav-links a:hover,
.nav-links .active-link {
  background-color: #495057;
}

.user-info {
  display: flex;
  align-items: center;
  color:  #000000;
}

.user-info button {
  background-color: transparent;
  border: none;
  color: #000000;
  margin-left: 1rem;
  cursor: pointer;
}
