<div class="register-container" style="background-image: url('/assets/login_background.jpg'); background-size: cover;">
  <div class="register-form">
    <h2>Register</h2>
    <span class="signin-link">Already have an account? <a routerLink="/login">Sign In</a></span>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-left">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" formControlName="username" type="text" />
          <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            <p>Username è obbligatorio.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <p>Password è obbligatoria.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="confermaPassword">Conferma Password</label>
          <input id="confermaPassword" formControlName="confermaPassword" type="password" />
          <div *ngIf="registerForm.get('confermaPassword')?.invalid && registerForm.get('confermaPassword')?.touched">
            <p>Conferma Password è obbligatoria.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            <p>Email non è valida.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input id="nome" formControlName="nome" type="text" />
          <div *ngIf="registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched">
            <p>Nome è obbligatorio.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="cognome">Cognome</label>
          <input id="cognome" formControlName="cognome" type="text" />
          <div *ngIf="registerForm.get('cognome')?.invalid && registerForm.get('cognome')?.touched">
            <p>Cognome è obbligatorio.</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dataConseguimentoPatente">Data Conseguimento Patente</label>
        <input id="dataConseguimentoPatente" formControlName="dataConseguimentoPatente" type="date" />
      </div>
      <div *ngIf="registerForm.errors?.['mismatch']">
        <p>Le password non coincidono.</p>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
