<div class="prenotazioni-header">
  <mat-icon (click)="goBack()" class="icon-button" aria-label="Indietro">arrow_back</mat-icon>
  <mat-icon (click)="reloadPage()" class="icon-button" aria-label="Aggiorna">refresh</mat-icon>
  <h2>Lista delle Prenotazioni</h2>
</div>
<div class="prenotazioni-list">
  <table>
    <thead>
      <tr>
        <th>Utente</th>
        <th>Auto</th>
        <th>Località Ritiro</th>
        <th>Località Consegna</th>
        <th>Data Inizio</th>
        <th>Data Fine</th>
        <th>Annullata</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prenotazione of prenotazioni">
        <td>{{ prenotazione.utente.nome }}</td>
        <td>{{ prenotazione.auto.modello }} {{ prenotazione.auto.marca }}</td>
        <td>{{ prenotazione.localitaRitiro }}</td>
        <td>{{ prenotazione.localitaConsegna }}</td>
        <td>{{ prenotazione.dataInizio | date }}</td>
        <td>{{ prenotazione.dataFine | date }}</td>
        <td>{{ prenotazione.annullata ? 'Sì' : 'No' }}</td>
        <td>
          <button (click)="annullaPrenotazione(prenotazione.id!)" class="annulla">Annulla</button>
          <button (click)="visualizzaDettagli(prenotazione.id!)" class="dettagli">Dettagli</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
