/* Stili per l'intestazione delle prenotazioni con le icone */

.prenotazioni-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.prenotazioni-header h2 {
  flex-grow: 1;
  text-align: center;
}

.icon-button {
  font-size: 24px;
  color: #56595c;
  cursor: pointer;
  margin-right: 15px;
}

.icon-button:hover {
  color: #0b0b0b;
}

/* Stili esistenti per la lista delle prenotazioni */

.prenotazioni-list {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.prenotazioni-list h2 {
  text-align: center;
  color: #333;
}

.prenotazioni-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.prenotazioni-list th, .prenotazioni-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.prenotazioni-list th {
  background-color: #f2f2f2;
  color: #333;
}

.prenotazioni-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.prenotazioni-list tr:hover {
  background-color: #f1f1f1;
}

.prenotazioni-list button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.prenotazioni-list button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.prenotazioni-list button.annulla {
  background-color: #f443368a; /* Red */
}

.prenotazioni-list button.dettagli {
  background-color: #4a4b4c; /* Blue */
}

.confirm-dialog {
  text-align: center;
}

.confirm-dialog h2 {
  margin: 0;
  font-size: 24px;
}

.confirm-dialog p {
  margin: 20px 0;
  font-size: 16px;
}

.confirm-dialog button {
  margin-right: 8px;
}
