<div class="dashboard">
  <mat-toolbar color="primary">
    <span>Benvenuto su RentACar!</span>
  </mat-toolbar>
  
  <div class="full-width image-section">
    <img src="/assets/dashboard3.jpg" alt="Benvenuto" class="welcome-image">
  </div>

  <div class="presentation-section">
    <h2>Scopri le Nostre Caratteristiche</h2>
    <p>RentACar è la tua soluzione ideale per noleggiare auto in modo semplice e veloce. Con la nostra applicazione puoi:</p>
    <ul>
      <li>Cercare l'auto perfetta per te tra una vasta gamma di modelli.</li>
      <li>Effettuare prenotazioni in pochi clic.</li>
      <li>Gestire le tue prenotazioni in modo efficiente.</li>
      <li>Ricevere assistenza dedicata 24/7.</li>
    </ul>
    <p>Inizia subito cercando un'auto o visualizzando le tue prenotazioni.</p>
  </div>

  <div class="actions-section">
    <button mat-raised-button color="accent" routerLink="/car/list">Cerca un'Auto</button>
    <button mat-raised-button color="accent" routerLink="/prenotazioni">Le Tue Prenotazioni</button>
  </div>
</div>
