/* styles.css */
/* @import "~@fortawesome/fontawesome-free/css/all.min.css"; */

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; /* Esempio di impostazione del font */
}

body {
  background-color: #6957577b;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altezza minima della root app al 100% del viewport */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
